body {
  background-color: #34495e;
}

h2 {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.img-thumbnail {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: auto;
  margin-top: 10%;
  width: 90%;
  max-width: 700px;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.carousel img {
  max-width: 100%;
  height: auto;
  opacity: 0; /* Inicialmente, a imagem está invisível */
  transition: opacity 0.5s ease;
}

.carousel img.active {
  opacity: 1; /* Quando a imagem está ativa, ela é visível */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
